.drop-down {
    display: flex;
}

.dropDownDiv {
    position: relative;
    display: inline-block;
}

.dropBtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}
/* Dropdown Content (Hidden by Default) */
.dropDownContent {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropDownContent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

/* Change color of dropdown links on hover */
.dropDownContent a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropDownDiv:hover .dropDownContent {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropDownDiv:hover .dropBtn {background-color: #3e8e41;}

/* carousel */

.carouselDiv {
    position: relative;
    width: 50vw;
    height: 50vh;
}

.prevBtn,
.nextBtn {
    border: none;
    background-color: transparent;
    opacity: 0.4;
}

.prevBtn:hover,
.nextBtn:hover {
    opacity: 1;
    cursor: pointer;
} 

.prevBtn {
    position: absolute;
    top: 50%;
    left: 5%;
}

.nextBtn {
    position: absolute;
    top: 50%;
    right: 5%;
}

.imgContainer {
    display: flex;
    /* width: 100%; */
    /* overflow: hidden; */
    position: relative;
}

.imgDiv {
    /* display: none;
    width: 50vw;
    height: 50vh; */
    width: 50vw;
    height: 50vh;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.active {
    /* display: block; */
    opacity: 1;
}

.indicatorDiv {
    display: flex;
    position: absolute;
    bottom: 2%;
    left: 45%;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

.indicator {
    opacity: 0.4;
}

.indicator:hover {
    cursor: pointer;
}

.active-indicator {
    opacity: 1;
}